+++
title = "Kubeflow"
+++

<!-- Hero section -->
{{<blocks/cover title="EDoN Initiative Wiki" image_anchor="center" color="dark">}}
<div class="mx-auto">
  <p class="lead mt-5">Internal Wiki for EDoN Staff</p>
  <a
    class="btn btn-lg btn-primary mr-3 mb-4"
    href="/docs/started/"
  >
    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <a
    class="btn btn-lg btn-secondary mr-3 mb-4"
    href="/docs/about/contributing/"
  >
    Contribute <i class="fas fa-pencil-alt ml-2"></i>
  </a>
  <div class="mx-auto mt-5">
    {{<blocks/link-down color="light">}}
  </div>
</div>
{{</blocks/cover>}}

<div id="overview">
  <div class="contain">
    <h4 class="section-head">Welcom to the EDoN Wiki Page?</h4>
    <p>
      Here you can find all EDoN Documentation and up to date information on the EDoN Initiative.
      New EDoN staff can use the Wiki as part of the onboarding process, find details of who is working
      on the EDoN project and various regular meetings that help direct the EDoN Initiative.
    </p>
  </div>
</div>

<section id="pageContent">
  <div class="container">
    <div class="card-deck">
      <div class="card border-primary-dark">
        <img
          src="/docs/images/logos/Jupyter.png"
		  class="card-img-top"
		  draggable="false"
          style="padding: 2rem;"
          alt="Jupyter Logo"
        />
        <div class="card-body bg-primary-dark">
          <h5 class="card-title text-white section-head">Notebooks</h5>
          <p class="card-text text-white">
            Kubeflow includes services to create and manage interactive <a target="_blank" rel="noopener" href="/docs/components/notebooks/">Jupyter
            notebooks</a>.  You can customize your notebook deployment and your compute resources to
            suit your data science needs. Experiment with your workflows locally, then
            deploy them to a cloud when you're ready.
          </p>
        </div>
      </div>
      <div class="card border-primary-dark">
        <img
          src="/docs/images/logos/TensorFlow.png"
		  class="card-img-top"
		  draggable="false"
          style="padding: 2rem;"
          alt="TensorFlow"
        />
        <div class="card-body bg-primary-dark">
          <h5 class="card-title text-white section-head">
            TensorFlow model training
          </h5>
          <p class="card-text text-white">
            Kubeflow provides a custom <a target="_blank" rel="noopener" href="/docs/components/training/tftraining/">TensorFlow training job operator</a>
            that you can use to train your ML model. In particular, Kubeflow's job operator can handle distributed TensorFlow training jobs. 
            Configure the training controller to use CPUs or GPUs and to suit various cluster sizes.
          </p>
        </div>
      </div>
      <div class="card border-primary-dark">
        <img
          src="/docs/images/logos/Models.png"
		  class="card-img-top"
		  draggable="false"
          style="padding: 2rem;"
          alt="Model serving image"
        />
        <div class="card-body bg-primary-dark">
          <h5 class="card-title text-white section-head">Model serving</h5>
          <p class="card-text text-white">
            Kubeflow supports a <a target="_blank" rel="noopener" href="/docs/external-add-ons/serving/tfserving_new/">TensorFlow Serving</a> container to export trained
            TensorFlow models to Kubernetes. Kubeflow is also integrated with
            <a target="_blank" rel="noopener" href="/docs/external-add-ons/serving/seldon/">Seldon Core</a>, an open source platform for deploying machine learning
            models on Kubernetes, <a target="_blank" rel="noopener" href="/docs/external-add-ons/serving/tritoninferenceserver/">NVIDIA Triton Inference Server</a> for
            maximized GPU utilization when deploying ML/DL models at scale, and <a target="_blank" rel="noopener" href="/docs/external-add-ons/serving/mlrun/">MLRun Serving</a>, an open-source serverless framework for deployment and monitoring of real-time ML/DL pipelines.
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="card-deck">
      <div class="card border-primary-dark">
        <img
          src="/docs/images/logos/Pipeline.png"
		  class="card-img-top"
		  draggable="false"
          style="padding: 2rem;"
          alt="Pipelines Logo"
        />
        <div class="card-body bg-primary-dark">
          <h5 class="card-title text-white section-head">Pipelines</h5>
          <p class="card-text text-white">
			<a target="_blank" rel="noopener" href="/docs/components/pipelines/introduction/" >Kubeflow Pipelines</a> is a comprehensive solution for deploying
            and managing end-to-end ML workflows. Use Kubeflow Pipelines for rapid and reliable experimentation.
            You can schedule and compare runs, and examine detailed reports on each run.
          </p>
        </div>
      </div>
      <div class="card border-primary-dark">
        <img
          src="/docs/images/logos/MultiPlatform.png"
		  class="card-img-top"
		  draggable="false"
          style="padding: 2rem;"
          alt="Multiple Framework Logos"
        />
        <div class="card-body bg-primary-dark">
          <h5 class="card-title text-white section-head">Multi-framework</h5>
          <p class="card-text text-white">
            Our development plans extend beyond TensorFlow. We're working
			hard to extend the support of 
			<a target="_blank" rel="noopener" href="/docs/components/training/pytorch/">PyTorch</a>, 
			<a target="_blank" rel="noopener" href="/docs/components/training/mxnet/"> Apache MXNet</a>, 
		  	<a target="_blank" rel="noopener" href="/docs/components/training/mpi/"> MPI</a>,
		  	<a target="_blank" rel="noopener" href="/docs/components/training/xgboost/"> XGBoost</a>,
			<a target="_blank" rel="noopener" href="/docs/components/training/chainer/"> Chainer</a>, and more. We
			also integrate with 
			<a target="_blank" rel="noopener" href="https://istio.io/">Istio</a> and 
			<a target="_blank" rel="noopener" href="https://www.getambassador.io/">Ambassador</a> for ingress, 
			<a target="_blank" rel="noopener" href="https://nuclio.io/">Nuclio</a> as a
            fast multi-purpose serverless framework, and <a target="_blank" rel="noopener" href="https://www.pachyderm.io/">Pachyderm</a> for managing
            your data science pipelines.
          </p>
        </div>
      </div>
      <div class="card border-primary-dark">
        <img
          src="/docs/images/logos/Community.png"
		  class="card-img-top"
		  draggable="false"
          style="padding: 2rem;"
          alt="People Icon"
        />
        <div class=" card-body bg-primary-dark">
          <h5 class="card-title text-white section-head">Community</h5>
          <p class="card-text text-white">
            We are an open and welcoming community of software developers, data scientists, and organizations!
            Join our <a target="_blank" rel="noopener" href="/docs/about/community/#slack">Slack Workspace</a>!
          </p>
        </div>
      </div>
    </div>
    <br />
    <!-- For future editors: If you are adding cards not in multiples of 3, wrap them in a 'card-columns' div 
						instead of card-deck. It will look more pleasing to the eye. -->
  </div>
</section>

<div id="community">
  <div class="contain">
    <h4 class="section-head">Join our community</h4>
    <p>
      Check out the <a href="/docs/about/community/#weekly-community-call">weekly community call</a>, get involved in discussions on the <a href="/docs/about/community/#mailing-list">mailing list</a> or chat with others on the <a href="/docs/about/community/#slack">Slack Workspace</a>!
    </p>

    <a
      class="btn btn-lg btn-primary mr-3 mb-4"
      href="/docs/about/community/"
    >
      Join the community <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
  </div>
</div>
